@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #181b21 inset !important;
  -webkit-text-fill-color: whitesmoke !important;
  -webkit-background-clip: content-box !important;
}

:autofill {
  background-color: transparent;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #31353e;
  border: 1.5px solid white;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
  background-color: #31353e;
  border: 1px solid white;
  border-radius: 6px;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #3c414c;
  border-radius: 6px;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea {
  resize: none;
}

.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #000000 #181818;
}

.scroll-bar::-webkit-scrollbar {
  width: 1px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #31353e;
  border-radius: 6px;
  border: 1px solid #555;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #31353e;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #31353e;
  border-radius: 6px;
  border: 1px solid #555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #31353e;
  border-radius: 6px;
}

.clip {
  clip-path: polygon(0 0, 51% 0, 100% 100%, 0% 100%);
}

.footer {
  background: linear-gradient(
    95deg,
    #000 0.68%,
    rgba(0, 0, 0, 0) 96.03%
  ) !important;
  backdrop-filter: blur(6.003125190734863px) !important ;
}
